{% import 'macro.twig' as macro %}

{% if get.ajout %}
    <div class="h-100 df ai-c jc-c fd-c gap-m">
        <h2 class="titre">Demande envoyée !</h2>
        <p>
            <a class="btn-1" href="index.php?p=dashboard">Ajouter un autre séjour</a>
        </p>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            showInCalendar('{{ get.ajout }}');
        });
    </script>
{% else %}
    <form action="action/sejour-ajout.php" method="post">

        <input type="hidden" name="page" value="dashboard">

        <fieldset class="df fd-c gap-m">
            <legend>
                <h2 class="titre" id="addSejour">Ajouter un séjour</h2>
            </legend>

            <p>Les champs précédés d’un * sont obligatoires.</p>

            {% if get.erreurMail %}
                <p class="text-6">
                    L'envoi de l'email d'ajout du séjour n'a pas abouti, mais la demande est enregistrée
                </p>
            {% endif %}

            {% if get.erreur1 %}
                {% set erreurLabel = 'Le champ ne peut pas être vide' %}
            {% endif %}

            {% if get.erreur2 %}
                {% set erreurArrivee = 'Le champ est vide' %}
            {% endif %}

            {% if get.erreur3 %}
                {% set erreurDepart = 'Le champ est vide' %}
            {% endif %}

            {% if get.label %}
                {% set valueLabel = get.label %}
            {% else %}
                {% set valueLabel = session.utilisateur.prenom %}
            {% endif %}

            {% if get.dateInverse %}
                {% set erreurDepart = "La date est antérieure à celle de l'arrivée" %}
            {% endif %}

            {{ macro.input2({
                id:            'label',
                label:         'Label*',
                description:   'Visible sur le calendrier',
                valeur:         valueLabel,
                erreur:         erreurLabel,
                inputErreur:    get.erreur1
            }) }}

            {{ macro.input2({
                id:             'arrivee',
                label:          'Arrivée*',
                valeur:         get.arrivee,
                erreur:         erreurArrivee,
                inputErreur:    get.erreur2,
                type:           'date'
            }) }}

            {{ macro.input2({
                id:             'depart',
                label:          'Départ*',
                valeur:         get.depart,
                erreur:         erreurDepart,
                inputErreur:    get.erreur3,
                type:           'date'
            }) }}

            {{ macro.input2({
                id:            'commentaire',
                label:         'Commentaire',
                description:   'Visible sur la liste de séjour à validée',
                valeur:         get.commentaire
            }) }}

            <button type="submit" class="btn-1">Ajouter le séjour</button>

        </fieldset>
    </form>
{% endif %}

