<button type="button" class="btn-2 v_petit" onclick="suppressionSejour({{ sejourKey }})">Supprimer</button>

<dialog id="suppressionSejour-{{ sejourKey }}" class="dialog">
    <form action="action/sejour-suppression.php?key={{ sejourKey }}" method="post">
        <h3 class="sous-titre">Etes-vous sûr de vouloir continuer ?</h3>
        <p class="">
            Séjour : {{ item.title }}<br>

            {% if item.start == item.departReel %}
                La journée du {{ item.start | date("d/m/Y") }}
            {% else %}
                du <strong>{{ item.start | date("d/m/Y") }}</strong> au <strong>{{ item.departReel | date("d/m/Y") }}</strong>
            {% endif %}

            {% if item.commentaire %}
                <br> {{ item.commentaire }}
            {% endif %}
        </p>
        <div class="df">
            <div>
                <button class="btn-2 v_petit" type="button" onclick="fermeModal({{ sejourKey }})">Annuler</button>
            </div>
            <div>
                <button class="btn-1 v_petit" type="submit">Supprimer ce séjour</button>
            </div>
        </div>
    </form>
</dialog>