<button type="button" class="btn-2 btn-s" onclick="suppressionSejour({{ sejourKey }})">Supprimer</button>

<dialog id="suppressionSejour-{{ sejourKey }}" class="modal">
    <form action="action/sejour-suppression.php?key={{ sejourKey }}" method="post">
        <h3 class="mt-0 mb-0">Etes-vous sûr de vouloir continuer ?</h3>
        <p class="mt-05 cadre3">
            Séjour : {{ item.title }}<br>

            {% if item.start == item.departReel %}
                La journée du {{ item.start | date("d/m/Y") }}
            {% else %}
                du <strong>{{ item.start | date("d/m/Y") }}</strong> au <strong>{{ item.departReel | date("d/m/Y") }}</strong>
            {% endif %}

            {% if item.commentaire %}
                <br> {{ item.commentaire }}
            {% endif %}
        </p>
        <div class="df row">
            <div class="col">
                <button class="btn-2 btn-s" type="button" onclick="fermeModal({{ sejourKey }})">Annuler</button>
            </div>
            <div class="col">
                <button class="btn-1 btn-s" type="submit">Supprimer ce séjour</button>
            </div>
        </div>
    </form>
</dialog>