# Élément de saisie dans un formulaire
# params : id, label, valeur, description, erreur, inputErreur, type, selectOptions, voirMotDePasse, description
{% macro formElement(params) %}

    {% if params.type %}
        {% set type = params.type %}
    {% else %}
        {% set type = 'text' %}
    {% endif %}

    {% if params.inputErreur %}
        {% set classErreur = ' input-group--erreur' %}
    {% endif %}


    <div class="df fd-c{{ classErreur }}">

        <label for="{{ params.id }}">
            {{ params.label | raw }}
            {% if params.description  %}
                <br>
                <span class="label-description">
                    {{ params.description }}
                </span>
            {% endif %}
        </label>

        {% if type == 'select' %}

            <select name="{{ params.id }}" id="{{ params.id }}"{% if erreur %} class="v_erreur"{% endif %}>
                <option value="">Sélectionnez</option>
                {% for key, item in params.selectOptions %}
                    <option value="{{ key }}"{% if valeur == key %} selected{% endif %}>
                        {{ item }} ({{ key }})
                    </option>
                {% endfor %}
            </select>

        {% else %}

            

            {% if params.voirMotDePasse == true %}

                <div class="df input-group">
                    <input type="{{ type }}" 
                        name="{{ params.id }}" 
                        id="{{ params.id }}"
                        {% if erreur %} class="v_erreur"{% endif %}
                        {% if params.inputErreur %} class="v_erreur"{% endif %}
                        value="{{ params.valeur }}">
                    <button type="button" class="btn v-outline df ai-c" onclick="voirMotDePasse(this)" aria-label="Voir" password-visible="false">
                        <svg width="24px" height="24px">
                            <use xlink:href="#oeil"></use>
                        </svg>
                    </button>
                </div>
            {% else %}

                <input type="{{ type }}" 
                    name="{{ params.id }}" 
                    id="{{ params.id }}"
                    value="{{ params.valeur }}">

            {% endif %}

        {% endif %}
        
        {% if params.erreur %}
            <label for="{{ params.id }}" class="label-erreur">
                {{ params.erreur }}
            </label>
        {% endif %}
    </div>
{% endmacro %}


# item du menu
{% macro itemMenu(pageUrl, pageActive, pageLabel, pageIcon) %}
    <li>
        {% if pageActive %}
            <div class="df ai-c">
                <svg width="16px" height="16px">
                    <use xlink:href="#{{ pageIcon }}"></use>
                </svg>
                <h1 class="font-400 mt-0 mb-0">{{ pageLabel }}</h1>
            </div>
        {% else %}
            <div class="df ai-c">
                {% if pageUrl == 'deconnexion' %}
                    <a href="action/deconnexion.php" class="df ai-c">
                        <svg width="16px" height="16px">
                            <use xlink:href="#{{ pageIcon }}"></use>
                        </svg>
                        <span>{{ pageLabel }}</span>
                    </a>
                {% else %}
                    <a href="index.php?p={{ pageUrl }}" class="df ai-c">
                        <svg width="16px" height="16px">
                            <use xlink:href="#{{ pageIcon }}"></use>
                        </svg>
                        <span>{{ pageLabel }}</span>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </li>
{% endmacro %}


# bouton icon/text du menu
{% macro itemIconText(icon, label) %}
    <svg width="25px" height="25px" class="nav__link__icon">
        <use xlink:href="#{{ icon }}"></use>
    </svg>
    <span class="nav__link__text">{{ label }}</span>
{% endmacro %}


# Lien du menu dans le header
{% macro headerNav(url, pageActive, label) %}
    {% if pageActive %}
        <h1 class="nav__active"  title="{{ label }} Rubrique active" aria-current="Page" tabindex="0">
            {{ label }}
        </h1>
    {% else %}
        <a href="index.php?p={{ url }}" class="nav__link">
            {{ label }}
        </a>
    {% endif %}
{% endmacro %}


# Boitier de commande Climatisation
{% macro boitierCommandeClim(exergue, commentaire) %}
<div class="test cadre-s gap-s bg-gris df ai-c">
    <svg width="150px" height="150px" style="{{exergue}}">
        <use xlink:href="#boitier"></use>
    </svg>
    <div>{{commentaire}}</div>
</div>
{% endmacro %}


# Supprime un séjour
# Params : sejourKey, dateStart, departReel, titre, commentaire
{% macro supprimerSejour(params) %}
<button class="btn-2 v-petit" type="button" onclick="suppressionSejour({{ params.sejourKey }})">
    Supprimer
</button>
<dialog id="suppressionSejour-{{ params.sejourKey }}" class="dialog">
    <form action="action/sejour-suppression.php?key={{ params.sejourKey }}" 
            method="post"
            class="cadre-m df fd-c gap-m">
        <input type="hidden" name="page" value="{{ params.pageRetourValidation }}">
        <h3 class="sous-titre">Etes-vous sûr de vouloir continuer ?</h3>
        <p class="cadre-s bg-jaune">
            Du
            <strong class="exergue">{{ params.dateStart | date("d/m/Y") }}</strong>
            au
            <strong class="exergue">{{ params.departReel | date("d/m/Y") }}</strong>
            <br>{{ params.titre }}
            {% if params.commentaire %}
                <br> {{ params.commentaire }}
            {% endif %}
        </p>
        <div class="df jc-sb">
            <button class="btn-2" type="button" onclick="fermeModal({{ params.sejourKey }})">
                Annuler
            </button>
            <button class="btn" type="submit">
                Supprimer ce séjour
            </button>
        </div>
    </form>
</dialog>
{% endmacro %}


# Cadre d'un séjour
# Params : type, titre, dateStart, departReel, commentaire, sejourKey, pageRetourValidation, parUtilisateur, pourFamille, btnSupprimer, listeFamilleNonAccord
{% macro cadreSejour(params) %}

    {% import _self as autreMacro %}


    {% if params.type == 'aValider' %}
        {% set classBgColor = 'bg-blanc' %}
    {% else %}
        {% set classBgColor = 'bg-gris' %}
    {% endif %}

    <li class="cadre-s gap-s ~ {{ classBgColor }} ~ df fd-cX fw-w"
        data-user="{{ params.parUtilisateur }}"
        data-famille="{{ params.pourFamille }}">
        
        <div class="df fd-c gap-s">
            <p>
                {% if (params.dateStart == params.departReel) %}
                    La journée du <strong class="exergue">{{ params.dateStart | date("d/m/Y") }}</strong>
                {% else %}
                    Du
                    <strong class="exergue">{{ params.dateStart | date("d/m/Y") }}</strong>
                    au
                    <strong class="exergue">{{ params.departReel | date("d/m/Y") }}</strong>
                {% endif %}
                {% if params.parUtilisateur %}
                    <br>Par <span>{{ params.parUtilisateur }}</span>
                {% endif %}
            </p>
            <div>
                {% if params.titre != params.parUtilisateur %}
                    <h3 class="exergue">{{ params.titre }}</h3>
                {% endif %}
                {% if params.commentaire %}
                    <p class="clair">
                        {{ params.commentaire }}
                    </p>
                {% endif %}
            </div>
            {% if params.listeFamilleNonAccord|trim != '' %}
                <div>
                    En attente d'accord de :
                    <ul>
                        {{ params.listeFamilleNonAccord }}
                    </ul>
                </div>
            {% endif %} 
        </div>
        <div class="df fd-c ai-e jc-sb fg-1 gap-s">
            <button class="btn-3" onclick="showInCalendar('{{ params.dateStart }}')">Voir dans le calendrier</button>

            {% if params.type == 'aValider' %}
                <form action="action/sejour-validation.php?key={{ params.sejourKey }}" method="post">
                    <input type="hidden" name="page" value="{{ params.pageRetourValidation }}">
                    <button type="submit" class="btn v-petit">Je valide&nbsp;!</button>
                </form>
            {% endif %}

            {% if params.btnSupprimer %}
                {{ autreMacro.supprimerSejour({
                    sejourKey:              params.sejourKey,
                    titre:                  params.title,
                    dateStart:              params.start,
                    departReel:             params.departReel,
                    commentaire:            params.commentaire,
                    parUtilisateur:         params.parUtilisateur,
                    pourFamille:            params.pourFamille,
                    pageRetourValidation:   'dashboard'
                }) }}
            {% endif %}
        </div>
        
    </li>
{% endmacro %}