# input text
{% macro input(id, label, valeur = null, erreur = null, inputErreur = null, type = "text", autre) %}
    <div class="mb-1">

        <label for="{{ id }}">{{ label | raw }}</label>

        {% if type == 'select' %}

            <select name="{{ id }}" id="{{ id }}"{% if erreur %} class="v_erreur"{% endif %}>
                <option value="">Sélectionnez</option>
                {% for key, item in autre.selectOptions %}
                    <option value="{{ key }}"{% if valeur == key %} selected{% endif %}>
                        {{ item }} ({{ key }})
                    </option>
                {% endfor %}
            </select>

        {% else %}

            <input type="{{ type }}" 
               name="{{ id }}" 
               id="{{ id }}"
               {% if erreur %} class="v_erreur"{% endif %}
               {% if inputErreur %} class="v_erreur"{% endif %}
               value="{{ valeur }}">

        {% endif %}
        
        {% if erreur %}
            <label for="{{ id }}" class="text-6">
                {{ erreur }}
            </label>
        {% endif %}
    </div>
{% endmacro %}


# item du menu
{% macro itemMenu(pageUrl, pageActive, pageLabel, pageIcon) %}
    <li>
        {% if pageActive %}
            <div class="df ai-c">
                <svg width="16px" height="16px">
                    <use xlink:href="#{{ pageIcon }}"></use>
                </svg>
                <h1 class="font-400 mt-0 mb-0">{{ pageLabel }}</h1>
            </div>
        {% else %}
            <div class="df ai-c">
                {% if pageUrl == 'deconnexion' %}
                    <a href="action/deconnexion.php" class="df ai-c">
                        <svg width="16px" height="16px">
                            <use xlink:href="#{{ pageIcon }}"></use>
                        </svg>
                        <span>{{ pageLabel }}</span>
                    </a>
                {% else %}
                    <a href="index.php?p={{ pageUrl }}" class="df ai-c">
                        <svg width="16px" height="16px">
                            <use xlink:href="#{{ pageIcon }}"></use>
                        </svg>
                        <span>{{ pageLabel }}</span>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </li>
{% endmacro %}