# input text
{% macro input(id, label, valeur = null, erreur = null, inputErreur = null, type = "text", autre) %}
    <div class="mb-1">

        <label for="{{ id }}">{{ label | raw }}</label>

        {% if type == 'select' %}

            <select name="{{ id }}" id="{{ id }}"{% if erreur %} class="v_erreur"{% endif %}>
                <option value="">Sélectionnez</option>
                {% for key, item in autre.selectOptions %}
                    <option value="{{ key }}"{% if valeur == key %} selected{% endif %}>
                        {{ item }} ({{ key }})
                    </option>
                {% endfor %}
            </select>

        {% else %}

            

            {% if autre.voirMotDePasse == true %}

                <div class="df input-group">
                    <input type="{{ type }}" 
                        name="{{ id }}" 
                        id="{{ id }}"
                        {% if erreur %} class="v_erreur"{% endif %}
                        {% if inputErreur %} class="v_erreur"{% endif %}
                        value="{{ valeur }}">
                    <button type="button" class="btn-4 df ai-c" onclick="voirMotDePasse(this)" aria-label="Voir" password-visible="false">
                        <svg width="24px" height="24px">
                            <use xlink:href="#oeil"></use>
                        </svg>
                    </button>
                </div>
                <script>

            {% else %}

                <input type="{{ type }}" 
                    name="{{ id }}" 
                    id="{{ id }}"
                    {% if erreur %} class="v_erreur"{% endif %}
                    {% if inputErreur %} class="v_erreur"{% endif %}
                    value="{{ valeur }}">

            {% endif %}

        {% endif %}
        
        {% if erreur %}
            <label for="{{ id }}" class="text-6">
                {{ erreur }}
            </label>
        {% endif %}
    </div>
{% endmacro %}


# form input
# params : id, label, valeur, description, erreur, inputErreur, type, selectOptions, voirMotDePasse, description
{% macro input2(params) %}

    {% if params.type %}
        {% set type = params.type %}
    {% else %}
        {% set type = 'text' %}
    {% endif %}

    {% if params.inputErreur %}
        {% set classErreur = ' input-group--erreur' %}
    {% endif %}


    <div class="df fd-c{{ classErreur }}">

        <label for="{{ params.id }}">
            {{ params.label | raw }}
            {% if params.description  %}
                <br>
                <span class="label-description">
                    {{ params.description }}
                </span>
            {% endif %}
        </label>

        {% if type == 'select' %}

            <select name="{{ params.id }}" id="{{ params.id }}"{% if erreur %} class="v_erreur"{% endif %}>
                <option value="">Sélectionnez</option>
                {% for key, item in params.selectOptions %}
                    <option value="{{ key }}"{% if valeur == key %} selected{% endif %}>
                        {{ item }} ({{ key }})
                    </option>
                {% endfor %}
            </select>

        {% else %}

            

            {% if params.voirMotDePasse == true %}

                <div class="df input-group">
                    <input type="{{ type }}" 
                        name="{{ params.id }}" 
                        id="{{ params.id }}"
                        {% if erreur %} class="v_erreur"{% endif %}
                        {% if params.inputErreur %} class="v_erreur"{% endif %}
                        value="{{ params.valeur }}">
                    <button type="button" class="btn-1 df ai-c" onclick="voirMotDePasse(this)" aria-label="Voir" password-visible="false">
                        <svg width="24px" height="24px">
                            <use xlink:href="#oeil"></use>
                        </svg>
                    </button>
                </div>
            {% else %}

                <input type="{{ type }}" 
                    name="{{ params.id }}" 
                    id="{{ params.id }}"
                    value="{{ params.valeur }}">

            {% endif %}

        {% endif %}
        
        {% if params.erreur %}
            <label for="{{ params.id }}" class="label-erreur">
                {{ params.erreur }}
            </label>
        {% endif %}
    </div>
{% endmacro %}


# item du menu
{% macro itemMenu(pageUrl, pageActive, pageLabel, pageIcon) %}
    <li>
        {% if pageActive %}
            <div class="df ai-c">
                <svg width="16px" height="16px">
                    <use xlink:href="#{{ pageIcon }}"></use>
                </svg>
                <h1 class="font-400 mt-0 mb-0">{{ pageLabel }}</h1>
            </div>
        {% else %}
            <div class="df ai-c">
                {% if pageUrl == 'deconnexion' %}
                    <a href="action/deconnexion.php" class="df ai-c">
                        <svg width="16px" height="16px">
                            <use xlink:href="#{{ pageIcon }}"></use>
                        </svg>
                        <span>{{ pageLabel }}</span>
                    </a>
                {% else %}
                    <a href="index.php?p={{ pageUrl }}" class="df ai-c">
                        <svg width="16px" height="16px">
                            <use xlink:href="#{{ pageIcon }}"></use>
                        </svg>
                        <span>{{ pageLabel }}</span>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </li>
{% endmacro %}


# bouton icon/text du menu
{% macro itemIconText(icon, label) %}
    <svg width="25px" height="25px" class="nav__link__icon">
        <use xlink:href="#{{ icon }}"></use>
    </svg>
    <span class="nav__link__text">{{ label }}</span>
{% endmacro %}


# Lien du menu dans le header
{% macro headerNav(url, pageActive, label) %}
    {% if pageActive %}
        <h1 class="nav__active"  title="{{ label }} Rubrique active">
            {{ label }}
        </h1>
    {% else %}
        <a href="index.php?p={{ url }}" class="nav__link">
            {{ label }}
        </a>
    {% endif %}
{% endmacro %}


# Séjour à valider
# Params : titre, dateStart, departReel, commentaire
{% macro sejourAValider2(params) %}
    <li class="cadre-s gap-cadre-s bg-neutral-000 df fd-cX fw-w">
        
        <div class="df fd-c gap-cadre-s">
            <p>
                {% if (params.dateStart == params.departReel) %}
                    La journée du <strong class="exergue">{{ params.dateStart | date("d/m/Y") }}</strong>
                {% else %}
                    Du
                    <strong class="exergue">{{ params.dateStart | date("d/m/Y") }}</strong>
                    au
                    <strong class="exergue">{{ params.departReel | date("d/m/Y") }}</strong>
                {% endif %}
            </p>
            <div>
                <h3 class="exergue">{{ params.titre }}</h3>
                {% if params.commentaire %}
                    <p class="clair">
                        {{ params.commentaire }}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="df fd-c ai-e fg-1 gap-cadre-s">
            <button class="btn-3" onclick="showInCalendar('{{ params.dateStart }}')">Voir dans le calendrier</button>
            <button class="btn-1 v_petit">Valider le séjour</button>
        </div>
        
    </li>
{% endmacro %}


# Séjour
# Params : titre, dateStart, departReel, commentaire
{% macro sejourItemList(params) %}
    <li class="cadre-s gap-cadre-s bg-neutral-100 df ai-e jc-sb">
        <div>
            <h3 class="sous-titre">
                <span class="font-400">Du</span>
                {{ params.dateStart | date("d/m/Y") }}
                <span class="font-400">au</span>
                {{ params.departReel | date("d/m/Y") }}
            </h3>
            <p class="exergue">{{ params.titre }}</p>
            {% if params.commentaire %}
                <p calss="clair">
                    {{ params.commentaire }}
                </p>
            {% endif %}
        </div>
    </li>
{% endmacro %}


# Boitier de commande Climatisation
{% macro boitierCommandeClim(exergue, commentaire) %}
<div class="test cadre-s gap-cadre-s bg-neutral-100 df ai-c">
    <svg width="150px" height="150px" style="{{exergue}}">
        <use xlink:href="#boitier"></use>
    </svg>
    <div>{{commentaire}}</div>
</div>
{% endmacro %}