<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if block("title") is defined %}
            {{ block('title') }} - {{ getenv('APP_NAME') }}
        {% else %}
            {{ getenv('APP_NAME') }}
        {% endif %}
    </title>
    <meta name="copyright" content="Pierre Tampon-Lajarriette">
    <meta name="author" content="Pierre Tampon-Lajarriette">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="{{ getenv('APP_NAME') }}">
    <meta property="og:url" content="{{ getenv('APP_URL') }}">
    <meta property="og:image" content="{{ getenv('APP_URL') }}style/favicon/og-image.png">
    <meta property="og:description" content="Projet de calendrier décentralisé pour la gestion d'une résidence familiale">
    <link rel="stylesheet" href="{{ getenv('APP_URL') }}style/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ getenv('APP_URL') }}style/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ getenv('APP_URL') }}style/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ getenv('APP_URL') }}style/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ getenv('APP_URL') }}style/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ getenv('APP_URL') }}style/favicon/safari-pinned-tab.svg" color="#035dfc">
    <meta name="msapplication-TileColor" content="#035dfc">
    <meta name="theme-color" content="#035dfc">
    {% block head %}{% endblock %}
</head>

<body class="{{ block('classBody') }}">


    {% block mainContent %}{% endblock %}


{% if block("scriptFooter") is defined %}
    <script>
        {{ block('scriptFooter') }}
    </script>
{% endif %}


{% if block("symbolSvg") is defined %}
    <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
        {{ block('symbolSvg') }}
    </svg>
{% endif %}
    
</body>

</html>