{% extends 'template/base.twig' %}

{% import 'macro.twig' as macro %}

{% block body %}

<body class="bg-3 vague df fd-c">


    <div class="vague__forme">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 118.46" preserveAspectRatio="none">
            <path d="M1200,24.2V0H0V92.7A600.05,600.05,0,0,1,321.4,63.6c58,10.8,114.2,30.1,172,41.9,82.4,16.7,168.2,17.7,250.5.4,79.9-16.8,162.8-57.8,241.8-78.6C1055.7,8.7,1132.2,1.1,1200,24.2Z" class="vague__fill"></path>
        </svg>
    </div>


    <div class="df fd-c--medium ai-c mb-1 header">
        <img src="style/img/logo.svg" alt="" loading="lazy" class="logo">
        <h1 class="m-0">
            {% if block("title") is defined %}
                {{ block('title') }}
            {% else %}
                Allegretto
            {% endif %}
        </h1>
    </div>


    {% if session.utilisateur.mail %}
        <div class="page">
            <ul class="reset df fw-w mb-1">
                {% if session.utilisateur.groupe == 'admin' %}
                    {{ macro.itemMenu('admin',pageActive('admin'), 'Administration') }}
                {% endif %}
                {{ macro.itemMenu('calendrier',pageActive('calendrier'), 'Calendrier') }}
                {{ macro.itemMenu('sejour',pageActive('sejour'), 'Proposer un séjour (a faire)') }}
                {{ macro.itemMenu('deconnexion', '', 'Déconnexion') }}
            </ul>
        </div>
    {% endif %}


    <div class="bg-2 df fg-1">
        {% block content %}{% endblock %}
    </div>


</body>

{% endblock %}