{% extends 'template/page.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Administration{% endblock %}

{% block content %}

{# affiche un json en mode debug lisible

    {% if utilisateurs is defined %}
        <pre>{{ utilisateurs|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    {% endif %}
#}
<div class="page">

    <div class="row df fw-w mb-2">

        <div class="col col-dashboard">
            <h2>Utilisateurs</h2>

            <div class="cadre2 scroll mb-2">
                <table class="tableau">
                    <caption>
                        <h3 class="mt-0 text-left">Liste exhaustive des utilisateurs ({{ utilisateurs|length}})</h3>
                    </caption>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Prénom</td>
                            <td>Famille</td>
                            <td>Mail</td>
                            <td>Supprimer</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in utilisateurs %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.prenom }}</td>
                                <td>{{ item.famille }}</td>
                                <td>{{ decrypt(item.mail) }}</td>
                                <td class="text-center">
                                    {% if item.groupe != 'admin' %}
                                        <form action="action/utilisateur-suppression.php?key={{ loop.index }}" method="post">
                                            <button type="submit" class="btn-s">Supprimer</button>
                                        </form>
                                    {% else %}
                                        [{{ item.groupe }}]
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <form action="action/utilisateur-ajout.php" method="post">
                <fieldset>
                    <legend>
                        <h3 class="mt-0">Ajouter un utilisateur</h3>
                    </legend>

                    {% if get.erreur1 %}
                        {% set erreurPrenom = 'Le champ est vide' %}
                    {% endif %}

                    {% if get.erreur2 %}
                        {% set erreurMail = 'Le champ est vide' %}
                    {% endif %}

                    {% if get.erreur3 %}
                        {% set erreurMotDePasse = 'Le champ est vide' %}
                    {% endif %}

                    {% if get.erreur4 %}
                        {% set erreurCodeFamille = 'La sélection est obligatoire' %}
                    {% endif %}


                    {{ macro.input('prenom', 'Prénom', get.prenom, erreurPrenom ) }}

                    {{ macro.input('mail', 'Adresse mail', get.mail, erreurMail) }}

                    {{ macro.input('motdepasse', 'Mot de passe', get.motdepasse, erreurMotDePasse) }}

                    {{ macro.input('famille', 'Code Famille', get.famille, erreurCodeFamille, '', 'select', {selectOptions: selectOptionFamille}) }}

                    <button type="submit">Ajouter</button>

                </fieldset>

                

            </form>

        </div>

        <div class="col col-dashboard">
            <h2>Familles</h2>


            <div class="cadre2 scroll mb-2">
                <table class="tableau">
                    <caption>
                        <h3 class="mt-0 text-left">Liste exhaustive des familles ({{ familles|length}})</h3>
                    </caption>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Code</td>
                            <td>Nom</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in familles %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ item.id }}</td>
                                <td>{{ item.nom }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>

    </div>

</div>

{% endblock %}