{% extends 'template/defaut.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Administration{% endblock %}

{% block content %}

{# affiche un json en mode debug lisible

    {% if utilisateurs is defined %}
        <pre>{{ utilisateurs|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    {% endif %}
#}
<main id="contenu" class="grid-main" tabindex="-1" role="main">

    <div class="grid-main__tiers1 cadre-m bg-blanc">
        <form action="action/utilisateur-ajout.php" method="post" class="mb-2">
            <fieldset class="df fd-c gap-m">
                <legend>
                    <h2 class="titre">Ajouter un utilisateur</h2>
                </legend>

                {% if get.erreur1 %}
                    {% set erreurPrenom = 'Le champ est vide' %}
                {% endif %}

                {% if get.erreur2 %}
                    {% set erreurMail = 'Le champ est vide' %}
                {% endif %}

                {% if get.erreur3 %}
                    {% set erreurMotDePasse = 'Le champ est vide' %}
                {% endif %}

                {% if get.erreur4 %}
                    {% set erreurCodeFamille = 'La sélection est obligatoire' %}
                {% endif %}


                {{ macro.formElement({
                    id:            'prenom',
                    label:         'Prénom',
                    valeur:         get.prenom,
                    erreur:         erreurPrenom,
                    inputErreur:    erreurPrenom
                }) }}

                {{ macro.formElement({
                    id:            'mail',
                    label:         'Adresse e-mail',
                    valeur:         get.mail,
                    erreur:         erreurMail,
                    inputErreur:    erreurMail
                }) }}

                {{ macro.formElement({
                    id:            'motdepasse',
                    label:         'Mot de passe',
                    valeur:         get.motdepasse,
                    erreur:         erreurMotDePasse,
                    inputErreur:    erreurMotDePasse
                }) }}

                {{ macro.formElement({
                    id:            'famille',
                    label:         'Code Famille',
                    type:          'select',
                    valeur:         get.famille,
                    erreur:         erreurCodeFamille,
                    inputErreur:    erreurCodeFamille,
                    selectOptions:  selectOptionFamille
                }) }}

                <button type="submit" class="btn mt-m">Ajouter un utilisateur</button>

            </fieldset>
        </form>
    </div>

    <div class="grid-main__tiers2 cadre-m bg-gris df fd-c gap-m">
        <h2 class="titre">Les utilisateurs ({{ utilisateurs|length}})</h2>
        <div class="scroll">
            <table class="tableau bg-blanc">
                <caption></caption>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Prénom</td>
                        <td>Famille</td>
                        <td>Mail</td>
                        <td>Supprimer</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in utilisateurs %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.prenom }}</td>
                            <td>{{ item.famille }}</td>
                            <td>{{ dechiffre(item.mail) }}</td>
                            <td class="text-center">
                                {% if item.groupe != 'admin' %}
                                    <form action="action/utilisateur-suppression.php?key={{ loop.index }}" method="post">
                                        <button type="submit" class="btn-2 btn-s">Supprimer</button>
                                    </form>
                                {% else %}
                                    [{{ item.groupe }}]
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



    <div class="grid-main__tiers1 cadre-m bg-blanc">
        <form action="action/famille-ajout.php" method="post" class="mb-2">
            <fieldset class="df fd-c gap-m">
                <legend>
                    <h2 class="titre">Ajouter une famille</h2>
                </legend>

                {% if get.erreurFam1 %}
                    {% set erreurId = 'Le champ est vide' %}
                {% endif %}

                {% if get.erreurFam2 %}
                    {% set erreurLabel = 'Le champ est vide' %}
                {% endif %}

                {% if get.erreurId %}
                    {% set erreurId = 'Déjà utilisé, saisissez autre chose' %}
                {% endif %}

                {{ macro.formElement({
                    id:            'id',
                    label:         'ID unique',
                    valeur:         get.id,
                    erreur:         erreurId,
                    inputErreur:    erreurId
                }) }}

                {{ macro.formElement({
                    id:            'label',
                    label:         'Label',
                    valeur:         get.label,
                    erreur:         erreurLabel,
                    inputErreur:    erreurLabel
                }) }}

                <button type="submit" class="btn mt-m">Ajouter une famille</button>

            </fieldset>
        
        </form>
    </div>

    <div class="grid-main__tiers2 cadre-m bg-gris">
        <div class="scroll">
            <table class="tableau bg-blanc">
                <caption>
                    <h2 class="titre">Les familles ({{ familles|length}})</h2>
                </caption>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Code</td>
                        <td>Label</td>
                        <td>Supprimer</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in familles %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.label }}</td>
                            <td class="text-center">
                                <form action="action/famille-suppression.php?key={{ loop.index }}" method="post">
                                    <button type="submit" class="btn-2 btn-s">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>

{% endblock %}



{% block scriptFooter %}
    {{parent()}}
    {{ include('js/validationFormulaire.js') }}
{% endblock %}