{% extends 'template/defaut.twig' %}

{% import 'macro.twig' as macro %}

{% block title %}Historique{% endblock %}


{% block content %}

    <main id="contenu" class="grid-main" tabindex="-1" role="main">

        <div class="grid-main__full">
            <div class="cadre-m bg-blanc">
                <p>
                    <a href="{{ getenv('APP_URL') }}index.php?p=dashboard">Retour au Dashboard</a>
                </p>
            </div>
        </div>

        <div class="grid-main__full">
            <div class="cadre-m bg-blanc">

                <div class="scroll">
                    <table class="tableau">
                        <caption>
                            <h2 class="titre">Les séjours <span class="bg-soumis">en attente</span> ({{ sejoursAttente|length}})</h2>
                        </caption>
                        <thead>
                            <tr>
                               <th scope="col">Séjour</th>
                                {% for famille in sejours.0.validation %}
                                    <th scope="col">
                                        {{ getLabelFamille(famille.id) }}
                                    </th>
                                {% endfor %}
                                {% if session.utilisateur.groupe == 'admin' %}
                                    <th scope="col">
                                        Admin
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sejours  | sort((a, b) => a.start|date("Y-m-d H:i:s") > b.start|date("Y-m-d H:i:s"))  %}
                                {% set sejourKey = loop.index %}

                                {% if item.etat != getenv('CODE_SEJOUR_VALIDE') %}
                                    <tr>
                                        <td>
                                            <p class="exergue">
                                                {% if (item.start == item.departReel) %}
                                                    La journée du <strong>{{ item.start | date("d/m/Y") }}</strong>
                                                {% else %}
                                                    <strong>
                                                        {{ item.start | date("d/m/Y") }}&nbsp;&#10140;&nbsp;{{ item.departReel | date("d/m/Y") }}
                                                    </strong>
                                                {% endif %}
                                            </p>

                                            {% if (strLength(item.title) > 20) %}
                                                <button type="button" onclick="afficheLaSuite(this)" aria-expanded="false">
                                                    {{ subString(item.title, 0, 20) }}<span class="expanded-reverse">...</span>
                                                    <span class="expanded mt-0 mb-0">
                                                        {{ subString(item.title, 20) }}
                                                    </span>
                                                </button>
                                            {% else %}
                                                {{ item.title }}
                                            {% endif %}

                                            {% if (item.commentaire) %}
                                                <button type="button" onclick="afficheLaSuite(this)" aria-expanded="false">
                                                    <svg width="20px" height="20px" class="expanded" style="margin-left:.2rem">
                                                        <use xlink:href="#fermer"></use>
                                                    </svg>
                                                    <svg width="20px" height="20px" class="expanded-reverse" style="margin-left:.2rem">
                                                        <use xlink:href="#bulle"></use>
                                                    </svg>
                                                </button>
                                                <span class="expanded-sibling">
                                                    <br>{{ item.commentaire }}
                                                </span>
                                            {% endif %}
                                        </td>
                                        {% for famille in item.validation %}
                                            <td>
                                                {% if famille.accord %}

                                                    {% if item.dataAjout == famille.accord %}
                                                        {% if famille.id == session.utilisateur.famille %}

                                                            {% if "now" | date('U') < item.start | date('U') %}
                                                                {{ macro.supprimerSejour({
                                                                    dataAjout:              item.dataAjout,
                                                                    titre:                  item.title,
                                                                    dateStart:              item.start,
                                                                    departReel:             item.departReel,
                                                                    commentaire:            item.commentaire,
                                                                    parUtilisateur:         item.parUtilisateur,
                                                                    pourFamille:            item.pourFamille,
                                                                    pageRetourValidation:   'historique'
                                                                }) }}
                                                            {% else %}
                                                                <strong class="exergue" title="Demande du {{ famille.accord | date("d/m/Y \\à H\\hi", "Europe/Paris") }}">
                                                                    Demandeur
                                                                </strong>
                                                            {% endif %}
                                                        {% else %}
                                                            <strong class="exergue" title="Demande du {{ famille.accord | date("d/m/Y \\à H\\hi", "Europe/Paris") }}">
                                                                Demandeur
                                                            </strong>
                                                        {% endif %}
                                                    {% else %}
                                                        <div class="df ai-c ok">
                                                            <svg width="24px" height="24px">
                                                                <use xlink:href="#check"></use>
                                                            </svg>
                                                            <span title="le {{ famille.accord | date("d/m/Y \\à H\\hi", "Europe/Paris") }}">
                                                                Validé
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                    
                                                {% else %}

                                                    {% if item.etat == getenv('CODE_SEJOUR_VALIDE') %}

                                                        <p>Séjour validé avant l'ajout de la famille</p>
                                                        
                                                    {% else %}

                                                        {% if famille.id == session.utilisateur.famille %}
                                                            {{ macro.valideSejour({
                                                                dataAjout:              item.dataAjout,
                                                                pageRetourValidation:   'historique'
                                                            }) }}  
                                                        {% else %}
                                                            <span>En&nbsp;attente...</span>
                                                        {% endif %}
                                                        
                                                    {% endif %}

                                                    
                                                        
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                        {% if session.utilisateur.groupe == 'admin' %}
                                            <td>
                                                {{ macro.supprimerSejour({
                                                    dataAjout:              item.dataAjout,
                                                    titre:                  item.title,
                                                    dateStart:              item.start,
                                                    departReel:             item.departReel,
                                                    commentaire:            item.commentaire,
                                                    parUtilisateur:         item.parUtilisateur,
                                                    pourFamille:            item.pourFamille,
                                                    pageRetourValidation:   'historique'
                                                }) }}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="grid-main__full">
            <div class="cadre-m bg-blanc">
                <div class="scroll">
                    <table class="tableau">
                        <caption>
                            <h2 class="titre">Les séjours <span class="bg-valide">validés</span> ({{ sejoursValide|length}})</h2>
                        </caption>
                        <thead>
                            <tr>
                                <th scope="col">Label</th>
                                <th scope="col">Commentaire</th>
                                <th scope="col">Arrivée</th>
                                <th scope="col">Départ</th>
                                {% if session.utilisateur.groupe == 'admin' %}
                                    <th scope="col">
                                        Supprimer
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in sejoursValide | sort((a, b) => a.start|date("Y-m-d H:i:s") > b.start|date("Y-m-d H:i:s"))  %}
                                <tr>
                                    <td>
                                        {% if (strLength(item.title) > 20) %}
                                            <button type="button" onclick="afficheLaSuite(this)" aria-expanded="false" class="df">
                                                {{ subString(item.title, 0, 20) }}<span class="expanded-reverse">...</span>
                                                <span class="expanded">
                                                    {{ subString(item.title, 20) }}
                                                </span>
                                            </button>
                                        {% else %}
                                            {{ item.title }}
                                        {% endif %}
                                    </td>
                                    <td>{{ item.commentaire }}</td>
                                    <td>{{ item.start | date("d/m/Y") }}</td>
                                    <td>{{ item.departReel | date("d/m/Y") }}</td>
                                    
                                {% if session.utilisateur.groupe == 'admin' %}
                                    <td>
                                        {{ macro.supprimerSejour({
                                            dataAjout:              item.dataAjout,
                                            titre:                  item.title,
                                            dateStart:              item.start,
                                            departReel:             item.departReel,
                                            commentaire:            item.commentaire,
                                            parUtilisateur:         item.parUtilisateur,
                                            pourFamille:            item.pourFamille,
                                            pageRetourValidation:   'historique'
                                        }) }}
                                    </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    

{% endblock %}



{% block scriptFooter %}
    {{parent()}}
    {{ include('js/afficheLaSuite.js') }}
    {{ include('js/suppressionSejour.js') }}
    {{ include('js/validationFormulaire.js') }}
{% endblock %}