{% extends 'template/defaut.twig' %}

{% import 'macro.twig' as macro %}
{% import 'macro-styleguide.twig' as sg %}

{% block title %}Styleguide{% endblock %}


{% block content %}

    <main id="contenu" class="grid-main" tabindex="-1" role="main">
        <div class="grid-main__full df fd-c cadre-m gap-m bg-neutral-000">


            {{ sg.titre('Couleurs', true)}}

            <ul class="df fw-w gap-m">
                {{ sg.palette('#1d63ff','--primary-400')}}
                {{ sg.palette('#ffce32','--secondary-400')}}
                {{ sg.palette('hsl(360,89%,41%)','--red-700')}}
                {{ sg.palette('#6E7588','--couleur7')}}
                {{ sg.palette('#006706','--couleur8')}}
            </ul>

            <ul class="df fw-w gap-m">
                {{ sg.palette('#ffffff','--neutre-000')}}
                {{ sg.palette('#f2f5f6','--neutre-100')}}
                {{ sg.palette('#d4dde9','--neutre-300')}}
                {{ sg.palette('#677588','--neutre-500')}}
                {{ sg.palette('#475569','--neutre-700')}}
                {{ sg.palette('#152342','--neutre-900')}}
            </ul>

            {{ sg.titre('Texte')}}

            <div class="df fw-w gap-l">
            
                <div>
                    <p class="titre">Titre</p>
                    <p class="sous-titre">Sous Titre</p>
                    <p>Paragraphe</p>
                    <p class="exergue">Exergue</p>
                    <p class="clair">Texte clair</p>
                </div>

                <div>
                    <h1>h1</h1>
                    <h2>h2</h2>
                    <h3>h3</h3>
                    <h4>h4</h4>
                    <h5>h5</h5>
                    <h6>h6</h6>
                    <p class="exergue">Exergue</p>
                </div>

                <div>
                    <p class="font-400">font-400</p>
                    <p class="font-700">font-700</p>
                    <strong class="exergue">strong.exergue</strong>
                </div>

                

            </div>
            

            {{ sg.titre('Marge')}}

            <div class="df fw-w gap-l">
            
                <div class="df gap-s">
                    <p>gap-s</p>
                    {{ sg.bloc()}}
                    {{ sg.bloc()}}
                </div>

                <div class="df gap-m">
                    <p>gap-m</p>
                    {{ sg.bloc()}}
                    {{ sg.bloc()}}
                </div>

                <div class="df gap-l">
                    <p>gap-l</p>
                    {{ sg.bloc()}}
                    {{ sg.bloc()}}
                </div>
            
                <div class="df fd-c">
                    <p>mt-m</p>
                    {{ sg.bloc()}}
                    <div class="mt-m">
                        {{ sg.bloc()}}
                    </div>
                </div>
            
            </div>

            
            {{ sg.titre('Cadre')}}

            <div class="df fw-w gap-l">
                <div class="df fd-c gap-m">
                    <div class="cadre-m bg-neutral-100">cadre-m</div>
                    <div class="cadre-m v_calendar bg-neutral-100">cadre-m v_calendar (smallonly)</div>
                    <div class="cadre-s bg-neutral-100">cadre-s</div>
                </div>

                <div class="df fd-c gap-m">
                    <div class="cadre-m bg-neutral-000">bg-neutral-000</div>   
                    <div class="cadre-m bg-neutral-100">bg-neutral-100</div>     
                    <div class="cadre-m bg-secondary">bg-secondary</div>   
                    <div class="cadre-m bg-valide">bg-valide</div>   
                    <div class="cadre-m bg-attente">bg-attente</div>   
                </div>
            </div>

            

            {{ sg.titre('Formulaire')}}

            <form class="df fd-c gap-m">
                {{ macro.formElement({
                    id:             'demo-input',
                    label:          'Label input text'
                }) }}

                {{ macro.formElement({
                    id:             'demo-erreur',
                    label:          'Label input text',
                    inputErreur:    true,
                    erreur:         'Label erreur'
                }) }}

                {{ macro.formElement({
                    id:             'demo-password',
                    label:          'Label input text',
                    type:           'password',
                    voirMotDePasse: true,
                }) }}

                <button type="submit" class="btn-1 mt-m">Button submit</button>
            </form>


        </div>
    </main> 

{% endblock %}