{% extends 'template/defaut.twig' %}

{% import 'macro.twig' as macro %}
{% import 'macro-styleguide.twig' as sg %}

{% block title %}Styleguide{% endblock %}


{% block content %}

    <main id="contenu" class="grid-main" tabindex="-1" role="main">
        <div class="grid-main__full df fd-c cadre-m gap-m bg-blanc">


            {{ sg.titre('Debug', true)}}

            <div class="df gap-m">
                <strong>.php</strong>
                <code><pre>debug($data);</pre></code>
            </div>

            <div class="df gap-m">
                <strong>.twig</strong>
                <code><pre>
{&#35; affiche un json en mode debug lisible
    &#123;&#37; if utilisateurs is defined &#37;&#125;
        &#60;pre&#62;&#123;&#123; utilisateurs|json_encode&#40;constant&#40;'JSON_PRETTY_PRINT'&#41;&#41; &#125;&#125;&#60;/pre&#62;
    &#123;&#37; endif &#37;&#125;
#} </pre></code>
            </div>



            {{ sg.titre('Couleurs', true)}}

            <ul class="df fw-w gap-m">
                {{ sg.palette('#F4F5F6','--color-gris-100')}}
                {{ sg.palette('#C0C5CC','--color-gris-200')}}
                {{ sg.palette('#979FAD','--color-gris-300')}}
                {{ sg.palette('#768191','--color-gris-400')}}
                {{ sg.palette('#515D72','--color-gris-500')}}
                {{ sg.palette('#394556','--color-gris-600')}}
                {{ sg.palette('#273344','--color-gris-700')}}
                {{ sg.palette('#15202D','--color-gris-800')}}
                {{ sg.palette('#0C1423','--color-gris-900')}}
            </ul>

            <ul class="df fw-w gap-m">
                {{ sg.palette('#EBF1FF','--color-bleu-100')}}
                {{ sg.palette('#B9CEF9','--color-bleu-200')}}
                {{ sg.palette('#85B1FF','--color-bleu-300')}}
                {{ sg.palette('#4B92F9','--color-bleu-400')}}
                {{ sg.palette('#1D63FF','--color-bleu-500')}}
                {{ sg.palette('#1153C9','--color-bleu-600')}}
                {{ sg.palette('#083D9B','--color-bleu-700')}}
                {{ sg.palette('#042C66','--color-bleu-800')}}
                {{ sg.palette('#00133D','--color-bleu-900')}}
            </ul>

            <ul class="df fw-w gap-m">
                {{ sg.palette('#ffffff','--color-blanc')}}
                {{ sg.palette('#C61717','--color-rouge-500')}}
                {{ sg.palette('#EFEB5D','--color-jaune-300')}}
                {{ sg.palette('#FFCB24','--color-jaune-500')}}
                {{ sg.palette('#2eaa52','--color-vert-300')}}
                {{ sg.palette('#1D820B','--color-vert-500')}}
            </ul>

            {{ sg.titre('Texte')}}

            <div class="df fw-w gap-l">
            
                <div class="cadre-m bg-blanc">
                    <p class="titre">Titre</p>
                    <p class="sous-titre">Sous Titre</p>
                    <p class="exergue">Exergue, <strong>gras</strong></p>
                    <p>Paragraphe, <strong>gras</strong></p>
                    <p class="clair">Texte clair, <strong>gras</strong></p>
                    <p><a href="#">Lien hypertexte</a></p>
                    <p class="ok">Message ok</p>
                    <p class="nok">Message nok</p>
                    <div class="df ai-c ok">
                        <svg width="24px" height="24px">
                            <use xlink:href="#check"></use>
                        </svg>
                        icon ok
                    </div>
                    <div class="df ai-c nok">
                        <svg width="24px" height="24px">
                            <use xlink:href="#fermer"></use>
                        </svg>
                        icon nok
                    </div>
                </div>
            
                <div class="cadre-m bg-gris">
                    <p class="titre">Titre</p>
                    <p class="sous-titre">Sous Titre</p>
                    <p class="exergue">Exergue, <strong>gras</strong></p>
                    <p>Paragraphe, <strong>gras</strong></p>
                    <p class="clair">Texte clair, <strong>gras</strong></p>
                    <p><a href="#">Lien hypertexte</a></p>
                    <p class="ok">Message ok</p>
                    <p class="nok">Message nok</p>
                    <div class="df ai-c ok">
                        <svg width="24px" height="24px">
                            <use xlink:href="#check"></use>
                        </svg>
                        icon ok
                    </div>
                    <div class="df ai-c nok">
                        <svg width="24px" height="24px">
                            <use xlink:href="#fermer"></use>
                        </svg>
                        icon nok
                    </div>
                </div>
            
                <div class="cadre-m bg-jaune">
                    <p class="titre">Titre</p>
                    <p class="sous-titre">Sous Titre</p>
                </div>

                <ul class="liste">
                    <li>liste</li>
                    <li>non</li>
                    <li>ordonnée</li>
                    <li>par</li>
                    <li>défaut</li>
                </ul>

                <ul class="liste exergue">
                    <li>liste</li>
                    <li>non</li>
                    <li>ordonnée</li>
                    <li>exergue</li>
                </ul>

                <div class="df fd-c gap-s">
                    <p class="bg-soumis">Séjour en attente</p>
                    <p class="bg-valide">Séjour validé</p>
                </div>

            </div>
            

            {{ sg.titre('Tableau')}}

            <div class="scroll">
                <table class="tableau">
                    <caption>
                        <h2 class="titre">Caption/titre du tableau</h2>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col">Exemple</th>
                            <th scope="col">d'</th>
                            <th scope="col">en-tête</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>a</td>
                            <td>c</td>
                            <td>b</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            {{ sg.titre('Marge')}}

            <div class="df fw-w gap-l">
            
                <div class="df gap-s">
                    <p>gap-s</p>
                    {{ sg.bloc()}}
                    {{ sg.bloc()}}
                </div>

                <div class="df gap-m">
                    <p>gap-m</p>
                    {{ sg.bloc()}}
                    {{ sg.bloc()}}
                </div>

                <div class="df gap-l">
                    <p>gap-l</p>
                    {{ sg.bloc()}}
                    {{ sg.bloc()}}
                </div>
            
                <div class="df fd-c">
                    <p>mt-m</p>
                    {{ sg.bloc()}}
                    <div class="mt-m">
                        {{ sg.bloc()}}
                    </div>
                </div>
            
            </div>

            
            {{ sg.titre('Cadre et fond')}}

            <div class="df fw-w gap-l">
                <div class="df fd-c gap-m">
                    <div class="cadre-m bg-gris">cadre-m</div>
                    <div class="cadre-m v_calendar bg-gris">cadre-m v_calendar (smallonly)</div>
                    <div class="cadre-s bg-gris">cadre-s</div>
                </div>

                <div class="df fd-c gap-m">
                    <div class="cadre-m bg-blanc">bg-blanc</div>
                    <div class="cadre-m bg-gris">bg-gris</div>
                </div>

                <div class="df fd-c gap-m">   
                    <div class="cadre-m bg-bleu">
                        <div class="cadre-s bg-blanc">bg-bleu</div>
                    </div>
                    <div class="cadre-m bg-jaune">
                        <div class="cadre-s bg-blanc">bg-jaune</div>
                    </div>
                    <div class="cadre-m bg-ciel">
                        <div class="cadre-s bg-blanc">bg-ciel</div>
                    </div>
                </div>

                <div class="df fd-c gap-m">   
                    <div class="cadre-m bg-valide">bg-valide</div>
                    <div class="cadre-m bg-soumis">bg-soumis</div>
                </div>

                <div class="df fd-c gap-m">   
                    <div class="bg-bleu bg-abstrait" style="padding:2rem;">
                        <p class="cadre-m bg-blanc bg-wavy">
                            <strong>Page avec template "modal"</strong> <br>
                            bg-abstrait visible en medium Up <br>
                            bg-wavy visible en small only
                        </p>
                    </div>
                </div>
            </div>

            

            {{ sg.titre('Bouton et Lien')}}

            <p>
                Dois être accessible sur <strong>bg-gris</strong>
            </p>

            <div class="df fw-w gap-l">
                <a href="#">Lien par défaut</a>
                <button>button par défaut</button>
                <button title="button icon">
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
            </div>

            <div class="df fw-w gap-l">
                <button class="btn">standard</button>
                <button class="btn" disabled>
                    standard disabled
                </button>
                <button class="btn" disabled>
                    standard disabled + loader
                    <span class="loader"></span>
                </button>
            </div>

            <div class="df fw-w gap-l">
                <button class="btn">
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
                <button class="btn" disabled>
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
                <button class="btn" disabled>
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                    <span class="loader"></span>
                </button>
            </div>

            <div class="df fw-w gap-l">
                <button class="btn v-outline">outline</button>
                <button class="btn v-outline" disabled>
                    outline disabled
                </button>
                <button class="btn v-outline" disabled>
                    outline disabled + loader
                    <span class="loader"></span>
                </button>
            </div>

            <div class="df fw-w gap-l">
                <button class="btn v-outline">
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
                <button class="btn v-outline" disabled>
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
                <button class="btn v-outline" disabled>
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                    <span class="loader"></span>
                </button>
            </div>

            <div class="df ai-c fw-w gap-l">
                <button class="btn">normal</button>
                <button class="btn v-petit">petit</button>
                <button class="btn v-outline v-petit">petit</button>
            </div>

            <div class="df ai-c fw-w gap-l">
                <button class="btn">
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
                <button class="btn v-petit">
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
                <button class="btn v-outline v-petit">
                    <svg width="24px" height="24px">
                        <use xlink:href="#oeil"></use>
                    </svg>
                </button>
            </div>


            

            {{ sg.titre('Formulaire')}}

            <form class="df fd-c gap-m">
                {{ macro.formElement({
                    id:             'demo-input',
                    label:          'Input text'
                }) }}

                {{ macro.formElement({
                    id:             'demo-erreur',
                    label:          'Erreur',
                    inputErreur:    true,
                    erreur:         'Label erreur'
                }) }}

                {{ macro.formElement({
                    id:             'demo-password',
                    label:          'Password',
                    type:           'password',
                    voirMotDePasse: true,
                }) }}

                {{ macro.formElement({
                    id:             'demo-select',
                    label:          'Select',
                    type:           'select'
                }) }}

                <button type="submit" class="btn mt-m">Button submit</button>

                <button type="submit" class="btn mt-m" disabled>
                    Button load
                    <span class="loader"></span>
                </button>
            </form>


        </div>
    </main> 

{% endblock %}